<!DOCTYPE html>
<html lang="en">
<head id="app">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ titleIndex }}</title>
  <link rel="stylesheet" href="/style/null.css">
  <link rel="stylesheet" href="/style/base.css">
  <link rel="stylesheet" href="/style/HeaderAndNav.css">
</head>
<body>
  <div id="app">
    <header class="headerStyle">
      <h1 class="labelStyle">Label</h1>
      <div class="listStyle">
        <button class="buttonStyle"><a href="/">Base infotmation</a></button>
        <button class="buttonStyle"><a href="/form">Form</a></button>
      </div>
    </header>
    <div class="navAndMain">
      <nav class="navStyle">Navigation menu</nav>
      <main class="mainStyle">
        <h2 class="styleHeadH2">Base information</h2>
        <div class="listOfPrograms">
          <div class="programmingLanguage">
            <h3 class="paragrapH3"><a href="https://ru.wikipedia.org/wiki/HTML">HTML</a></h3>
            <span class="paragrapH3Definition">Cтандартизированный язык гипертекстовой разметки документов для просмотра веб-страниц в браузере. Веб-браузеры получают HTML документ от сервера по протоколам HTTP/HTTPS или открывают с локального диска, далее интерпретируют код в интерфейс, который будет отображаться на экране монитора.</span>
            <h4 class="concept">Общее представление</h4>
            <span class="conceptHistory">Язык гипертекстовой разметки HTML был разработан британским учёным Тимом Бернерсом-Ли приблизительно в 1986—1991 годах в стенах ЦЕРНа в Женеве в Швейцарии. HTML создавался как язык для обмена научной и технической документацией, пригодный для использования людьми, не являющимися специалистами в области вёрстки. HTML успешно справлялся с проблемой сложности SGML путём определения небольшого набора структурных и семантических элементов — дескрипторов. Дескрипторы также часто называют «тегами». С помощью HTML можно легко создать относительно простой, но красиво оформленный документ. Помимо упрощения структуры документа, в HTML внесена поддержка гипертекста. Мультимедийные возможности были добавлены позже.</span>
          </div>
          <div class="programmingLanguage">
            <h3 class="paragrapH3"><a href="https://ru.wikipedia.org/wiki/TypeScript">TypeScript</a></h3>
            <span class="paragrapH3Definition">Язык программирования, представленный Microsoft в 2012 году и позиционируемый как средство разработки веб-приложений, расширяющее возможности JavaScript.</span>
            <h4 class="concept">Общее представление</h4>
            <span class="conceptHistory">TypeScript возник из-за предполагаемых недостатков JavaScript в крупномасштабных приложениях как в компании Microsoft, так и у прочих пользователей JavaScript. Проблемы с разработкой сложных программ на JavaScript привели к необходимости облегчения разработки компонентов языка. Разработчики TypeScript искали решение, которое не будет нарушать совместимости со стандартом и его кроссплатформенной поддержкой. Зная, что только стандарт ECMAScript предлагает поддержку в будущем для программирования на базе классов (Class-based programming), они основали TypeScript на этом предположении. Это привело к созданию компилятора JavaScript с набором синтаксических языковых расширений, увеличенным на основе предложения, которое трансформирует расширения в JavaScript. В этом смысле TypeScript является представлением того, что ожидать от ECMAScript 6. Уникальный аспект не в предложении, а в добавлении в TypeScript статической типизации, что позволяет статически анализировать язык, облегчая оснастки и IDE-поддержку.</span>
          </div>
          <div class="programmingLanguage">
            <h3 class="paragrapH3"><a href="https://ru.wikipedia.org/wiki/React">React</a></h3>
            <span class="paragrapH3Definition"> JavaScript-библиотека с открытым исходным кодом для разработки пользовательских интерфейсов.</span>
            <h4 class="concept">Общее представление</h4>
            <span class="conceptHistory">React был создан Джорданом Валке, разработчиком программного обеспечения из Facebook. На него оказал влияние XHP — компонентный HTML-фреймворк для PHP. Впервые React использовался в новостной ленте Facebook в 2011 году и позже в ленте Instagram в 2012 году. Исходный код React открыт в мае 2013 года на конференции «JSConf US». React Native анонсирован на конференции Facebook «React.js Conf» в феврале 2015 года, а исходный код открыт в марте 2015 года. Он позволяет разрабатывать нативные Android-, iOS- и UWP-приложения с использованием React. 18 апреля 2017 года Facebook анонсировал React Fiber, переписанную и оптимизированную версию React. React Fiber станет основой разработки всех будущих функций и улучшений.</span>
          </div>
          <div class="programmingLanguage">
            <h3 class="paragrapH3"><a href="https://ru.wikipedia.org/wiki/HTML">Node.js</a></h3>
            <span class="paragrapH3Definition">Программная платформа, основанная на движке V8 (компилирующем JavaScript в машинный код), превращающая JavaScript из узкоспециализированного языка в язык общего назначения. Node.js добавляет возможность JavaScript взаимодействовать с устройствами ввода-вывода через свой API, написанный на C++, подключать другие внешние библиотеки, написанные на разных языках, обеспечивая вызовы к ним из JavaScript-кода. </span>
            <h4 class="concept">Общее представление</h4>
            <span class="conceptHistory">В 1996 году в компании Netscape были попытки создания серверного JavaScript (Server-side JavaScript — SSJS), однако технология не получила распространения. Node.js разработал Райан Даль в 2009 году после двух лет экспериментирования над созданием серверных веб-компонентов. В ходе своих исследований он пришёл к выводу, что вместо традиционной модели параллелизма на основе потоков следует обратиться к событийно-ориентированным системам. Эта модель была выбрана из-за простоты, низких накладных расходов (по сравнению с идеологией «один поток на каждое соединение») и быстродействия. Целью Node является предложить «простой способ построения масштабируемых сетевых серверов».</span>
          </div>
        </div>
      </main>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="/app.js" type="application/javascript"></script>
</body>
</html>